<h1>Dynamic Donut Chart</h1>
<p>Use the slider to change the value of the donut chart.</p>
<div class="container">
  <div class="item">
    <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="10"
    [min]="0"
    [max]="100"
    [(ngModel)]="value"></mat-slider>
  </div>
  <div class="item">
    <mat-form-field>
      <mat-label>Color Options</mat-label>
      <mat-select>
        <mat-option *ngFor="let color of colors" [value]="color.value">
          {{color.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="item donut">
    <app-donut-chart [value]="value" [colorValues]="colorValues"></app-donut-chart>
  </div>
</div>
